[MASTER]
load-plugins=pylint_django

[TYPECHECK]
# Configura el módulo para el descubrimiento de los archivos Django
init-hook='import sys; sys.path.append("./chatgpt")'

[MESSAGES CONTROL]
# Habilita las advertencias específicas de Django
enable=django-specific-checks